.generic-content-container {

	p {
		line-height: 1.65; /* line height does not require a unit of measurement  */
		margin: 1.8rem 0;

		@mixin atSmall {
			font-size: 1.125rem; /* slightly larger font size when bigger than mobile */
		}
	}

	p a {
		font-weight: 700;
	}
}