.section-title {
	font-size: 2.55rem;
	font-weight: 300;
	text-align: center;

	@mixin atSmall {
		font-size: 3.75rem;
	}

	strong {
		font-weight: 500;
	}

	&--blue {
		color: $mainBlue;
	}

	&__icon {
		display: block; /* put the star on it's own line for mobile view */
		margin-right: auto; /* center the star */
		margin-left: auto;
		margin-bottom: .6rem; /* give vertical spacing between star and title */

		@mixin atSmall { /* put the star on the same line at title for larger than mobile view */
			margin-right: .5rem;
			display: inline-block;
			margin-left: 0;
			margin-bottom: 0;
			position: relative;
			top: 8px;
		}


	}

	

}