.testimonial {
	background-color: rgba(255, 255, 255, .8);
	padding: 0 18px 1px 18px;
	margin-bottom: 98px; 
	
	@mixin atLarge {
		padding: 0 1.8125rem 1px 1.8125rem;
		margin-bottom: 0; /* this negates the bottom margin of the mobile view, because we don't need it with a side by side layout. */
	}

	&--last {
		margin-bottom: 0;
	}

	&__photo {
		border: 6px solid rgba(255, 255, 255, .8);
		width: 160px; /* we give this div the width and height of the image so that we can apply border radius to make the image a circle */
		height: 160px;
		border-radius: 80px;
		margin: 0 auto -80px auto; /* center the image horizontally. we need -80px margin bottom because when we repositioned the image, the content cannot respond accordingly. */
		overflow: hidden; /* we need this because the image is protruding outside of it's container */
		position: relative; /* this and top -80px moves the image out of the div by half of it's height. */
		top: -80px; /* we also need to apply -80px margin on the bottom, because when we moved the photo out of the div, the rest of the text content didn't automatically move with it. */
	}

	&__title {
		color: $mainBlue;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 500;
		margin: 0;
	}

	&__subtitle {
		color: $mainOrange;
		text-align: center;
		font-weight: 400;
		font-size: .9375rem;
		margin: .25rem 0 1rem 0;
	}
}












